*.class

# Eclipse files #
.settings
.classpath
.project

# IntelliJ files #
.idea
local.properties
*.iml

# Maven files #
target

# Gradle files #
.gradle
build

# Package Files #
# *.jar
*.war
*.ear

# ActiveMQ files #
activemq-data

# Visual Paradigm files #
spring-mvc-asynch.vpp.working
*.vpp~*

