*.class

# Eclipse files #
.settings
.classpath
.project

# Maven files #
target

# Gradle files #
build

# Package Files #
# *.jar
*.war
*.ear

activemq-data
.gradle
spring-mvc-asynch.vpp.working
*.vpp~*
